
@{
    ViewBag.Title = "Anasayfa";
}

<h2>Anasayfa</h2>
@if (Session["UserId"] != null)
{
    <h3>@Session["UserName"].ToString() Hoşgediln</h3>
    <hr />
    <br />
    <div>
        <label for="lblUserName">Kullanıcı Adı: </label> @Html.TextBox("txtUsername", Session["UserName"].ToString(), new { @class = "form-control" })
        <br />
        <label for="txtMessage">Mesaj: </label> @Html.TextBox("txtMessage", "", new { @class = "form-control" }) <button id="btnSendMessage" class="btn btn-primary">Mesaj Yolla</button>
    </div>
    <div id="messages"></div>
    @section scripts {
        <script src="~/Scripts/jquery-1.6.4.min.js"></script>
        <script src="~/Scripts/jquery.signalR-2.0.2.min.js"></script>
        <script src="~/SignalR/Hubs"></script>
        <script>
            $(function () {
                var chat = $.connection.chatHub;
                var $username = $('#txtUsername');
                var $message = $('#txtMessage');
                var $messages = $('#messages');
                $message.focus();
                chat.client.sendMessage = function (name, message) {
                    $messages.append('<li><strong>' + name + '</strong>: ' + message + '</li>');
                };
                $.connection.hub.start().done(function () {
                    $('#btnSendMessage').click(function () {

                        chat.server.send($username.val(), $message.val());

                        $message.val('').focus();
                    });
                });
            });
        </script>
    }
}
else
{
    <p>Lütfen Giriş yapınız.</p>
}

