@{
    ViewBag.Title = "İletişim Bilgileri";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="GSM">Gsm:</abbr>
    0534 409 91 78
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:myavuz53@gmail.com">myavuz53@gmail.com</a><br />
</address>